.container {
  display: flex;
  flex-direction: column; /* Asegúrate de que el sidebar sea una columna */
  background-color: rgba(0, 0, 0, 1.5);
  height: 100%;
  margin: 0;
  flex-grow: 1; /* Esto hará que el sidebar se expanda para llenar el espacio restante */
  box-shadow: 0px 2px 36px -5px rgba(111, 91, 224, 0.89),
    inset 0px 0px 10px rgba(111, 91, 224, 0.89);
}

.container img {
  margin-top: 5px;
  margin-left: 5px;
  width: 100px;
  height: 100px;
}

.containerLevel2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 2px 36px -5px rgba(111, 91, 224, 0.89),
    inset 0px 0px 10px rgba(111, 91, 224, 0.89);
  gap: 5px;
  height: 100%;
}

.containerLevel3Opciones {
  display: flex;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 2px 36px -5px rgba(111, 91, 224, 0.89),
    inset 0px 0px 10px rgba(111, 91, 224, 0.89);
}

.container button {
  color: white;
  font-size: small;
  background: none;
  border: none;
  cursor: pointer;
}
